<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <%= link_to "Try Again", new_order_path, {class: "btn btn-info mt-3"} %>
  <% else %>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email, {class: "form-control", placeholder: "Insert Email Customer", required: true}  %>
    </div>
    <% if order.status_order %>
      <div class="form-group">
        <%= form.label :status_order, style: "display: block" %>
        <%= form.select(:status_order, [['NEW',0], ['PAID',1], ['CANCELED',2]], {selected: order.status_order},  {class: "form-control"}) %>
      </div>
    <% end %>
    <div>
      <p class="mt-3 mb-0" >List Menus</p>
      <% if @item_orders %>
        <p class="m-t-10 fw-bold" style="color:green;">Ordered Menu</p>
        <% @item_orders.each do |item| %>
          <div class="form-check m-t-10">
            <input class="form-check-input" type="checkbox" id="<%= item.name %>" name="item[]" value="<%= item.id %>" checked>
            <label class="form-check-label" for="<%= item.name %>"><%= item.name %> - Rp.<%= item.price %>/portion</label>
            <input class="form-control" type="number" name="quantity_<%= item.id %>" placeholder="how many do you order ?" value="<%= item.quantity %>">
            <small>fill quantity with 0 if order was canceled</small>
          </div>
        <% end %>
        <% if !@notyet_item_orders.empty? %>
          <p class="m-t-10 fw-bold" style="color:red;" >Unordered Menu</p>
          <% @notyet_item_orders.each do |id, name, price| %>
            <div class="form-check m-t-10">
              <input class="form-check-input" type="checkbox" id="<%= name %>" name="item[]" value="<%= id %>">
              <label class="form-check-label" for="<%= name %>"><%= name %> - Rp.<%= price %>/portion</label>
              <input class="form-control" type="number" name="quantity_<%= id %>" placeholder="how many do you order ?">
              <small>checklist and fill quantity if you choose this</small>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% @items.each do |item| %>
          <div class="form-check m-t-10">
            <input class="form-check-input" type="checkbox" id="<%= item.name %>" name="item[]" value="<%= item.id %>">
            <label class="form-check-label" for="<%= item.name %>"><%= item.name %> - Rp.<%= item.price %>/portion</label>
            <input class="form-control" type="number" name="quantity_<%= item.id %>" placeholder="how many do you order ?">
            <small>checklist and fill quantity if you choose this</small>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="mt-4">
      <%= form.submit 'Save', :class => 'btn btn-success'%>
      <%= link_to "Back to orders", orders_path, {class: "btn btn-secondary ms-2"} %>
    </div>
  <% end %>
<% end %>
