<div id="<%= dom_id order %>">
  <h5 class="card-title mb-3">Status Order : 
    <% status = ["NEW","PAID","CANCELED"] %>
    <%= status[order.status_order] %>
  </h5>
  <p class="card-text"> Order Date : <%= order.created_at.localtime.strftime('%a, %d %b %Y %H:%M:%S WIB') %></p>
  <p class="card-text"> Detail Order : <%= order.detail %></p>
  <p class="card-text"> Total Price : Rp. <%= order.total_price %></p>
</div>
