<p style="color: green"><%= notice %></p>
<h1>Detail Order</h1>
<%= link_to "Back to orders", orders_path, {class: "btn btn-secondary mt-3 mb-3"} %>
<div class="card">
  <div class="card-header">
    Email Customer : <%= @order[0][:email]%>
  </div>
  <div class="card-body">
    <%= render @order %>
  </div>
  <div class="d-flex card-footer">
    <%= link_to "Edit this order", edit_order_path(@order), {class: "btn card-button me-3"} %>
    <%= button_to "Destroy this order", @order, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
