<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>
  <div>
    <p>Category</p>
    <% if @current_categories %>
      <% @current_categories.each do |category| %>
        <input type="text" value="<%= category.name %>" disabled>
      <% end %>
      <p>Delete Category</p>
      <% @current_categories.each do |category| %>
        <input type="checkbox" id="<%= category.name %>" name="category[]" value="<%= category.id %>">
        <label for="<%= category.name %>"><%= category.name %></label><br>
      <% end %>
    <% end %>
    <% if @notyet_categories.empty? == false %>
      <p>Add Category</p>
      <% @notyet_categories.each do |id, name| %>
        <input type="checkbox" id="<%= name %>" name="category[]" value="<%= id %>">
        <label for="<%= name %>"><%= name %></label><br>
      <% end %>
    <% end %>
  </div>
  <%= link_to "Create New Category", new_category_path %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
