<p style="color: green"><%= notice %></p>
<h1>Item Menus</h1>
<div class="mt-3">
  <%= link_to "Dashboard", '/',  {class: "btn btn-secondary"} %>
  <%= link_to "New item", new_item_path,  {class: "btn btn-success"} %>
</div>
<div id="items">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-sm-4 mt-5">
        <div class="card">
          <div class="card-header">
            Item Name : <%= item.name.capitalize %>
          </div>
          <div class="card-body">
            <%= render item %>
          </div>
          <div class="card-footer text-end">
            <%= link_to "Show this item", item,  {class: "btn card-button"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
